@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .form-section {
        width: 100%;
        padding: 20px;
    }

    h1 {
        font-size: 2rem; 
    }

    input, button {
        font-size: 1rem;
        padding: 10px;
    }

    .hero-image{
        display: none;
    }

    .hero-content{
        max-width: 100%;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 50px;
        background-color: white;
        width: 200px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    .burger {
        display: flex;
    }

    .nav-active {
        display: block;
    }

    .categories-container {
        grid-template-columns: 1fr;
    }

    .category {
        width: 90%; 
        height: auto;
    }

    .category img {
        height: auto;
    }
}